.container{
    margin: 0%;
    padding: 0%;
}
.monitor{
    width: 400px;
    border-radius: 10px;
    background-color: gray;
    border: 1px solid rgb(40, 40, 40);
}
.calc1{
    width: 390px;
    height: 15px;
    
    text-align: end;
    padding-top: 5px;
    padding-right: 10px;
    font-size: 20px;
    color: rgb(48, 47, 47);
}
.calc2{
    width: 390px;
    height: 30px;
    
    text-align: end;
    padding-top: 20px;
    padding-bottom: 15px;
    padding-right: 10px;
    font-size: 40px;
    color: white;
}
.numbercontainer{
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(179, 175, 175);
    border: 1px solid gray;
    border-radius: 10px;

}
.number{
    width: 98px;
    height: 90px;
    background-color: gray;
    border: 1px solid rgb(64, 63, 63);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: white;
}
.number:first-child{
    color: red;
}
.sign{
    color: rgba(247, 243, 243, 0.5);
}
